.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 5px;
  cursor: pointer;
  padding: 0 15px;
  font-size: var(--font-size-small);
  font-weight: 700;
  border-radius: 5px;
  color: var(--secondary-color);
  text-transform: uppercase;
  background-color: var(--primary-color);
  transition: transform 0.3s ease-in-out;

  &.large {
    height: 50px;
    padding: 0 25px;
  }

  &.middle {
    height: 450px;
    padding: 0 20px;
  }

  &.small {
    height: 35px;
    padding: 0 10px;
  }

  &:not(.large):not(.middle):not(.small) {
    height: 45px;
    padding: 0 20px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
